@model GfyBazar.Models.Customer

@{
    ViewBag.Title = "GfyBazar";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- ============================================== SIDEBAR ============================================== -->
        <div class="col-xs-12 col-sm-12 col-md-3 sidebar">

            <!-- ================================== TOP NAVIGATION ================================== -->
            <div class="side-menu animate-dropdown outer-bottom-xs">
                <div class="head"><i class="icon fa fa-align-justify fa-fw"></i> Categories</div>
                @{Html.RenderAction("Menu", "Home", new { area = "" });}
                <!-- /.megamenu-horizontal -->
            </div>
            <!-- /.side-menu -->
            <!-- ================================== TOP NAVIGATION : END ================================== -->
            <!-- ============================================== SPECIAL OFFER : END ============================================== -->
            <!-- ============================================== SPECIAL DEALS ============================================== -->

            <div class="sidebar-widget outer-bottom-small wow fadeInUp">
                <h3 class="section-title">Top Offers</h3>
                <div class="sidebar-widget-body outer-top-xs">
                    <div class="owl-carousel sidebar-carousel special-offer custom-carousel owl-theme outer-top-xs">
                        @if (Model != null)
                        {
                            if (Model.lstoffer != null)
                            {
                                foreach (var item in Model.lstoffer)
                                {
                                    <div class="item">
                                        <div class="products special-product">
                                            <div class="product">
                                                <div class="product-micro">
                                                    <div class="row product-micro-row">
                                                        <div class="col col-xs-12">
                                                            <div class="product-image">
                                                                <div class="image"> <a onclick="return openloader();" href="/Home/ProductWithOfferList?id=@item.EncryptKey"> <img style="width:238px;height:89px" src="http://demo4.afluex.com/@item.OfferImage" alt=""> </a> </div>
                                                                <!-- /.image -->

                                                            </div>
                                                            <!-- /.product-image -->
                                                        </div>

                                                    </div>
                                                    <div class="row product-micro-row">
                                                        <div class="col col-xs-12">
                                                            <div class="product-info">
                                                                <h3 class="name"><a onclick="return openloader();" href="/Home/ProductWithOfferList?id=@item.EncryptKey">@item.OfferName</a></h3>

                                                                <div class="product-price"> <span class="price"> @item.OfferDiscountPerc % off </span> </div>
                                                                <!-- /.product-price -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-micro-row -->
                                                </div>
                                                <!-- /.product-micro -->

                                            </div>

                                        </div>
                                    </div>
                                }
                            }
                        }


                    </div>
                </div>
                <!-- /.sidebar-widget-body -->
            </div>
            <!-- /.sidebar-widget -->
            <!-- ============================================== NEWSLETTER: END ============================================== -->
            <!-- ============================================== Testimonials============================================== -->

            @if (Model != null)
            {
                if (Model.lstseller != null)
                {
                    <div class="sidebar-widget  wow fadeInUp outer-top-vs ">
                        <div id="advertisement" class="advertisement">
                            @foreach (var item in Model.lstseller)
                            {
                                <div class="item">
                                    <div class="avatar"><img src="../../assets/images/testimonials/member1.png" alt="Image"></div>
                                    <div class="testimonials"><em>"</em> @item.Comment<em>"</em></div>
                                    <div class="clients_author">@item.DisplayName <span></span> </div>
                                    <!-- /.container-fluid -->
                                </div>
                            }
                        </div>
                    </div>
                }
            }




            <!-- ============================================== Testimonials: END ============================================== -->

            @*<a style="cursor:pointer" href="https://play.google.com/store/apps/details?id=com.dwpay"><div class="home-banner"> <img src="../../assets/images/banners/LHS-banner.jpg" alt="Image"> </div></a>*@
        </div>
        <!-- /.sidemenu-holder -->
        <!-- ============================================== SIDEBAR : END ============================================== -->
        <!-- ============================================== CONTENT ============================================== -->
        <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder">
            <!-- ========================================== SECTION – HERO ========================================= -->

            <div id="hero">
                <div id="owl-main" class="owl-carousel owl-inner-nav owl-ui-sm">
                    @if (Model != null)
                    {
                        if (Model.lstBanner != null)
                        {
                            foreach (var item in Model.lstBanner)
                            {
                                <div class="item" style="background-image: url(http://demo4.afluex.com/@item.BannerImage);">
                                    <div class="container-fluid">


                                    </div>

                                </div>
                            }
                        }
                    }
                </div>
                <!-- /.owl-carousel -->
            </div>

            <!-- ========================================= SECTION – HERO : END ========================================= -->
            <!-- ============================================== INFO BOXES ============================================== -->
            <div class="info-boxes wow fadeInUp">
                <div class="info-boxes-inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-lg-4">
                            <div class="info-box">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="info-box-heading green">money back</h4>
                                    </div>
                                </div>
                                <h6 class="text">30 Days Money Back Guarantee</h6>
                            </div>
                        </div>
                        <!-- .col -->

                        <div class="hidden-md col-sm-4 col-lg-4">
                            <div class="info-box">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="info-box-heading green">Become Prime</h4>
                                    </div>
                                </div>
                                <h6 class="text">Shop more than 1000 & become Prime</h6>
                                                        </div>
                        </div>
                        <!-- .col -->

                        <div class="col-md-6 col-sm-4 col-lg-4">
                            <div class="info-box">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="info-box-heading green">Special Beome Prime</h4>
                                    </div>
                                </div>
                                <h6 class="text">Get double benefit on shopping of more than 2000 </h6>
                            </div>
                        </div>
                        <!-- .col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.info-boxes-inner -->

            </div>
            <!-- /.info-boxes -->
            <!-- ============================================== INFO BOXES : END ============================================== -->
            <!-- ============================================== SCROLL TABS ============================================== -->
            <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
                <div class="more-info-tab clearfix ">
                    <h3 class="new-product-title pull-left">New Products</h3>
                    <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                        @*
                            <li class="active"><a data-transition-type="backSlide" href="#all" data-toggle="tab">All</a></li>
                            <li><a data-transition-type="backSlide" href="#smartphone" data-toggle="tab">Clothing</a></li>
                            <li><a data-transition-type="backSlide" href="#laptop" data-toggle="tab">Electronics</a></li>
                            <li><a data-transition-type="backSlide" href="#apple" data-toggle="tab">Shoes</a></li>*@
                    </ul>
                    <!-- /.nav-tabs -->
                </div>
                @if (Model != null)
                {
                    if (Model.lstStorage != null)
                    {
                        <div class="tab-content outer-top-xs">
                            <div class="tab-pane in active" id="all">
                                <div class="product-slider">
                                    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">

                                        @foreach (var Item in Model.lstStorage)
                                        {
                                            <div class="item item-carousel" style="width: 184px;">
                                                <div class="products">
                                                    <div class="product">
                                                        <div class="product-image">
                                                            <div class="image"> <a onclick="return openloader();" href="/Customer/QuickView?pid=@Item.ProductID"><img src="http://demo4.afluex.com/@Item.PrimaryImage" alt=""></a> </div>
                                                            <!-- /.image -->
                                                            @*<div class="tag new"><span>new</span></div>*@
                                                        </div>
                                                        <!-- /.product-image -->

                                                        <div class="product-info text-center">
                                                            <h3 class="name"><a onclick="return openloader();" href="/Customer/QuickView?pid=@Item.ProductID">@Item.ProductName</a></h3>
                                                           
                                                            <div class="description" style="color:blue">Redeem Point @Item.RedeemPrice</div>
                                                            <div class="product-price"> <span class="price">  @Item.OfferedPrice </span> <span class="price-before-discount"> @Item.MRP</span> </div>
                                                            <!-- /.product-price -->

                                                        </div>
                                                        <!-- /.product-info -->
                                                        <div class="cart clearfix animate-effect">
                                                            <div class="action">
                                                                <ul class="list-unstyled">
                                                                  
                                                                    @*
                                                                        <li class="lnk wishlist"> <a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Wishlist"> <i class="icon fa fa-heart"></i> </a> </li>
                                                                        <li class="lnk"> <a data-toggle="tooltip" class="add-to-cart" href="detail.html" title="Compare"> <i class="fa fa-signal" aria-hidden="true"></i> </a> </li>*@
                                                                </ul>
                                                            </div>
                                                            <!-- /.action -->
                                                        </div>
                                                        <!-- /.cart -->
                                                    </div>
                                                    <!-- /.product -->

                                                </div>
                                                <!-- /.products -->
                                            </div>
                                        }

                                    </div>
                                    <!-- /.home-owl-carousel -->
                                </div>
                                <!-- /.product-slider -->
                            </div>


                        </div>
                    }
                }
                
                <!-- /.tab-content -->
            </div>
            <!-- /.scroll-tabs -->
            <!-- ============================================== SCROLL TABS : END ============================================== -->
            <!-- ============================================== WIDE PRODUCTS ============================================== -->
           
            <!-- /.wide-banners -->

            <div class="wide-banners wow fadeInUp outer-bottom-xs">
                <div class="row">
                    @if (Model.lstDashboardBanner != null)
                    {
                        foreach (var Item in Model.lstDashboardBanner)
                        {
                            <div class="col-md-12">
                                <div class="wide-banner cnt-strip">
                                    <div class="image"> <img class="img-responsive" src="@Item.BannerImage" alt=""> </div>
                                    <div class="strip strip-text">
                                        <div class="strip-inner">
                                            <h2 class="text-right">
                                                @*New Mens Fashion<br>*@

                                            </h2>
                                        </div>
                                    </div>
                                    <div class="new-label">
                                        <div class="text">NEW</div>
                                    </div>
                                    <!-- /.new-label -->
                                </div>
                                <!-- /.wide-banner -->
                            </div>
                    <!-- /.col -->
                        }
                    }
                </div>
                <!-- /.row -->
            </div>
            <!-- /.wide-banners -->


        </div>
        <!-- /.homebanner-holder -->
        <!-- ============================================== CONTENT : END ============================================== -->
    </div>

    <div class="row">
        <div class="col-md-12">


            @if (Model.lstfeaturetypr != null)
            {
                foreach (var item1 in Model.lstfeaturetypr)
                {

                    <section class="section featured-product wow fadeInUp">
                        <h3 class="section-title">@item1.DisplayName</h3>
                        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs" style="padding:0px">

                            @if (Model.lstfeatureproduct != null)
                            {
                                foreach (var Item in Model.lstfeatureproduct)
                                {
                                    if (item1.DisplayName == Item.DisplayName)
                                    {

                                        <div class="item item-carousel" style="width:236px">
                                            <div class="products">
                                                <div class="product">
                                                    <div class="product-image">
                                                        <div class="image"> <a onclick="return openloader();" href="/Customer/QuickView?pid=@Item.ProductID"><img src="http://demo4.afluex.com/@Item.PrimaryImage" alt=""></a> </div>
                                                        <!-- /.image -->
                                                        @*<div class="tag hot" style="width:100px"><span>@Item.DisplayName</span></div>*@
                                                    </div>
                                                    <!-- /.product-image -->
                                               
                                                    <div class="product-info text-center">
                                                        <h3 class="name"><a onclick="return openloader();" href="/Customer/QuickView?pid=@Item.ProductID">@Item.ProductName</a></h3>
                                                        <div class="rating rateit-small"></div>
                                                        <div class="description" style="color:blue">Redeem Point @Item.RedeemPrice</div>
                                                        <div class="product-price"> <span class="price"> @Item.OfferedPrice</span> <span class="price-before-discount">@Item.MRP</span> </div>
                                                        <!-- /.product-price -->

                                                    </div>
                                                    <!-- /.product-info -->
                                                    <div class="cart clearfix animate-effect">
                                                        <div class="action">
                                                            <ul class="list-unstyled">
                                                                <li class="add-cart-button btn-group">
                                                                    <button class="btn btn-primary icon" data-toggle="dropdown" type="button"> <i class="fa fa-shopping-cart"></i> </button>
                                                                    <a class="btn btn-primary cart-btn" href="/Customer/QuickView?pid=@Item.ProductID">Add to cart</a>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <!-- /.action -->
                                                    </div>
                                                    <!-- /.cart -->
                                                </div>
                                                <!-- /.product -->

                                            </div>
                                            <!-- /.products -->
                                        </div>


                                    }
                                }
                            }

                        </div>
                        <!-- /.home-owl-carousel -->
                    </section>
                }
            }
        </div>
    </div>


</div>
